<div class="container pt-5">
  <div class="row container d-flex justify-content-center">
    <div class="col-md-12">
      <div class="card px-3">
        <div class="card-body">
          <h4 class="card-title">Awesome Todo list</h4>
          <app-add-task></app-add-task>
          <div class="pt-3">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of items | async">{{item.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
